{% extends "base_generic.html" %}

{% block content %}
  <h1>ATM Home</h1>
  <p>Welcome to ATM, a website developed by <em>Taylor Woods, Alexander Hewitt, James Ellerbee and Rahj Kotak</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Accounts:</strong> {{ num_accounts }}</li>
    <li><strong>Cards:</strong> {{ num_cards }}</li>
    <li><strong>Balance:</strong> {{ balance }}</li>

    <!-- <form action="/team_name_url/" method="post">
    <label for="account_form">Enter Account Number: </label>
    <input id="account_form" type="text" name="account_field" value="account num">
    <input type="submit" value="OK">
    </form> -->

  </ul>
{% endblock %}
