{% extends "base_generic.html" %}

{% block content %}
  <h1>ATM Home</h1>
  <img src="https://media.istockphoto.com/photos/mobile-banking-network-picture-id827843530?k=6&m=827843530&s=612x612&w=0&h=KjbrUOqxr_8_5iGobxzTKVGpuYVg7DCtggNP7wFadOw=" alt="Stock Bank Image">
  <p>
    Welcome to ATM, a website developed by <em>Taylor Woods, Alexander Hewitt, James Ellerbee and Raj Kotak</em>!
    <br>
    Look to the <strong>side bar</strong> for links within our domain!
    <ul>
    <li>To view your account's balance, click the <em>View Account Balance</em> link,</li>
    <br>
    <li>To withdrawal funds from your account, click the <em>Withdraw From Account</em> link,</li>
    <br>
    <li>To transfer money from your account to another, click the <em>Transfer Money</em> link.</li>
    <br>
    <li>To access the admin site, click the <em>Admin site</em> link.</li>
    </ul>
  </p>
  <h2>Atm information</h2>
  <ul>
    <li><strong>Address of atm:</strong> {{ atm.address }}</li>
    <li><strong>Status of atm (o = operational, m = in maintenance):</strong> {{ atm.status }}</li>
    <li><strong>Last refil date:</strong> {{ atm.lastRefillDate }}</li>
    <li><strong>Current Balance:</strong> {{ atm.currentBalance }}</li>
  </ul>
  <h2>Statistics</h2>
  <p>The bank has the following record counts:</p>
  <ul>
    <li><strong>Accounts:</strong> {{ num_accounts }}</li>
    <li><strong>Cards:</strong> {{ num_cards }}</li>
    <li><strong>Account Fields:</strong> {{ specific_account }}</li>
  </ul>
{% endblock %}
